.note-list {
	width: 100%;
	height: 100%;
	background-color: var(--joplin-background-color3);
	border-right: 1px solid var(--joplin-divider-color);
	overflow-x: hidden;
	overflow-y: scroll;

	> .notes {
		display: flex;
		overflow-x: hidden;
	}

	> .emptylist {
			padding: 20px;
			font-size: 1.3em; /* Increase font size */
			color: #555; /* Make the color more noticeable */
			background-color: #f9f9f9; /* Lighten the background color */
			font-family: var(--joplin-font-family);
			text-align: center; /* Center the text */
			border: 1px dashed #ccc; /* Optional: Add a border for better visibility */
			margin-top: 20px; /* Add some margin at the top */
			border-radius: 8px; /* Optional: Add border radius for rounded corners */
		}
	
}

.note-list-item {
 	display: flex;
}

.note-list-item-wrapper {
	border-color: var(--joplin-color);
	position: relative;
	box-sizing: border-box;

	> .dragcursor {
		background-color: var(--joplin-color);
		position: absolute;
		z-index: 1000;
		width: 2px;
		height: 2px;
	}

	&:focus-visible {
		outline: none;
	}
}

.note-list-item-wrapper.-provisional {
	opacity: 0.5;
}
